<div class="card">
  <div class="card-content">
    <span class="card-title">Parametry dotazu</span>
    <div class="row">
      <div class="col s4">Název</div>
      <div class="col s4">Výchozí hodnota</div>
      <div class="col s4">Aktuální hodnota</div>
    </div>
    <div class="row" *ngFor="let key of keys">
      <div class="col s4"><span [style.text-decoration]="isParameterToRemove(key) ? 'line-through' : 'inherit'">{{key}}</span></div>
      <div class="col s4">
        <app-editable-value [value]="parameters[key]['defaultValue']" (valueChanged)="handleDefaultValueChange($event, key)"></app-editable-value>
      </div>
      <div class="col s4">
        <app-editable-value [value]="parameters[key]['usedValue']" (valueChanged)="handleUsedValueChange($event, key)" required="false"></app-editable-value>
      </div>
    </div>
  </div>
</div>
