<div class="row" *ngIf="qfilterService.showActions">
  <div class="col s12 l8 offset-l2">
    <form action="#" [formGroup]="form">
      <div class="row">
        <!-- Výběr seskupení dotazů -->
        <div class="input-field col s12 m12 l4"><span style="color: #000;">Seskupení dotazů:</span>
          <select formControlName="groupBy">
            <option *ngFor="let x of groupPosibilities" [value]="x.value">{{x.name}}</option>
          </select>
        </div>
        <!-- Výběr způsobu řazení dotazů -->
        <div class="input-field col s12 m12 l4"><span style="color: #000;">Řazení dotazů:</span>
          <select formControlName="orderBy">
            <option *ngFor="let x of orderPosibilities" [value]="x.value">{{x.name}}</option>
          </select>
        </div>

        <!-- Výběr orientace řazení dotazů -->
        <div class="input-field col s12 m12 l4"><span style="color: #000;">Orientace řazení:</span>
          <select formControlName="orderType">
            <option *ngFor="let x of orderTypePosibilities" [value]="x.value">{{x.name}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <!--    <form action="#" [formGroup]="formGroupBy" class="control-form">-->
  <!--      <div class="form-entry">-->
  <!--        <label class="form-entry">-->
  <!--          <input type="radio" formControlName="groupBy" value="none"/>-->
  <!--          <span class="group-by-select primary-text-color">Ničeho</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--      <div class="form-entry">-->
  <!--        <label class="form-entry">-->
  <!--          <input type="radio" formControlName="groupBy" value="endpoint"/>-->
  <!--          <span class="group-by-select primary-text-color">Endpointu</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--      <div class="form-entry">-->
  <!--        <label class="form-entry">-->
  <!--          <input type="radio" formControlName="groupBy" value="tag"/>-->
  <!--          <span class="group-by-select primary-text-color">Tagu</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--    </form>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="row" *ngIf="qfilterService.showActions">-->
  <!--  <div class="col s12 l8 offset-l2">-->


  <!--    <form action="#" [formGroup]="formOrderBy" class="control-form">-->
  <!--      <div class="form-entry">-->
  <!--        <label>-->
  <!--          <input type="radio" formControlName="orderBy" value="alphabeticaly"/>-->
  <!--          <span class="group-by-select primary-text-color">Abecedně</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--      <div class="form-entry">-->
  <!--        <label>-->
  <!--          <input type="radio" formControlName="orderBy" value="last_run"/>-->
  <!--          <span class="group-by-select primary-text-color">Posledního spuštění</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--      <div class="form-entry">-->
  <!--        <label>-->
  <!--          <input type="radio" formControlName="orderBy" value="date_of_creation"/>-->
  <!--          <span class="group-by-select primary-text-color">Datumu vytvoření</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--      <div class="form-entry">-->
  <!--        <label>-->
  <!--          <input type="radio" formControlName="orderBy" value="count_of_run"/>-->
  <!--          <span class="group-by-select primary-text-color">Počtu spuštění</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--    </form>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="row" *ngIf="qfilterService.showActions">-->
  <!--  <div class="col s12 l8 offset-l2">-->

  <!--    <form action="#" [formGroup]="formOrderType" class="control-form">-->
  <!--      <div class="form-entry">-->
  <!--        <label>-->
  <!--          <input type="radio" formControlName="orderType" value="ascending"/>-->
  <!--          <span class="group-by-select primary-text-color">Vzestupně</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--      <div class="form-entry">-->
  <!--        <label>-->
  <!--          <input type="radio" formControlName="orderType" value="descending"/>-->
  <!--          <span class="group-by-select primary-text-color">Sestupně</span>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--    </form>-->
  <!--  </div>-->
</div>
