<div class="row" *ngIf="qfilterService.showActions">
  <div class="col s12 l8 offset-l2">
    <form action="#" [formGroup]="form">
      <div class="row">
        <!-- Výběr seskupení dotazů -->
        <div class="input-field col s12 m12 l4"><span style="color: #000;">Seskupení dotazů:</span>
          <div class="select-wrapper">
            <select formControlName="groupBy">
              <option *ngFor="let x of groupPosibilities" [value]="x.value">{{x.name}}</option>
            </select>
            <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 10l5 5 5-5z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
        <!-- Výběr způsobu řazení dotazů -->
        <div class="input-field col s12 m12 l4"><span style="color: #000;">Řazení dotazů:</span>
          <div class="select-wrapper">
            <select formControlName="orderBy">
              <option *ngFor="let x of orderPosibilities" [value]="x.value">{{x.name}}</option>
            </select>
            <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 10l5 5 5-5z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>

        <!-- Výběr orientace řazení dotazů -->
        <div class="input-field col s12 m12 l4"><span style="color: #000;">Orientace řazení:</span>
          <div class="select-wrapper">
            <select formControlName="orderType">
              <option *ngFor="let x of orderTypePosibilities" [value]="x.value">{{x.name}}</option>
            </select>
            <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 10l5 5 5-5z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
