#new-query {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.browse-toolbar {
  display: none;
}

.collection-item {
  margin-bottom: 4px;
}

.mat-list-option {
  height: 56px !important;
}

.button-bar-wrapper {
  overflow-x: scroll;
}

.group-by-select {
  color: #000;
}

.button-bar {
  width: 100%;
  height: 50px;
}

.dropdown-content {
  display: block;
  position: relative;
  opacity: 1;
  top: auto;
  left: auto;
  background-color: transparent;
  box-shadow: unset;
}
.dropdown-content li {
  min-height: unset;
}

@media screen and (min-width: 600px) {
  .button-bar {
    width: 150%;
  }
}

@media screen and (min-width: 992px) {
  .button-bar-wrapper {
    overflow-x: hidden;
  }
  .button-bar {
    width: 100%;
  }
  .browse-toolbar {
    display: block;
    padding-bottom: 4px;
  }

  .toolbar-container {
    position: fixed;
    top: 64px;
    background: #ffffff;
    z-index: 2;
    width: 100%;
    transition: top 0.3s;
  }
  .toolbar-container.sticky {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.33);
  }
}
