<section>
  <div class="toolbar-container" [style.display]="!queryExists ? 'none' : 'block'" #toolbarContainer>
    <div class="row mobile-search">
      <div class="col s12 offset-m2 m8">
        <app-search></app-search>
      </div>
    </div>
    <app-browse-toolbar class="browse-toolbar"></app-browse-toolbar>
  </div>
  <div class="row" #queryContainer [class.query-container-margin]="queryExists">
    <div class="col s12 offset-m2 m8">
      <div class="collection" *ngIf="queryExists">
        <div class="q-group" *ngIf="qFilterGroupSortingService.selectedGroup === 'none'">
          <ul>
            <li *ngFor="let query of queries" class="q-entry-border">
              <app-q-entry [query]="query"
                           (deleteRequest)="handleDeleteRequest($event)"
                           (firebaseRequest)="handleFirebaseRequest($event)"></app-q-entry>
            </li>
          </ul>
        </div>
        <app-q-group [values]="endpoints"
                     [queries]="queries"
                     [filterFunction]="filterByEndpoint"
                     (deleteRequest)="handleDeleteRequest($event)"
                     (firebaseRequest)="handleFirebaseRequest($event)"
                     *ngIf="qFilterGroupSortingService.selectedGroup === 'endpoint'"></app-q-group>
        <app-q-group [values]="tags"
                     [queries]="queries"
                     [filterFunction]="filterByTag"
                     (deleteRequest)="handleDeleteRequest($event)"
                     (firebaseRequest)="handleFirebaseRequest($event)"
                     *ngIf="qFilterGroupSortingService.selectedGroup === 'tag'"></app-q-group>

        Označeno dotazů: {{selectedQueries}}
        <div class="col s12 button-bar-wrapper">
          <div class="button-bar">
            <div class="col s6 m1 center-on-small-only">
              <button class="btn btn-tiny" (click)="handleExport()" [disabled]="selectedQueries === 0">Export</button>
            </div>
            <div class="col s6 m1 offset-m1 center-on-small-only">
              <span class='dropdown-trigger btn btn-tiny' (click)="showImportDropdown = !showImportDropdown">Import</span>
              <ul class="dropdown-content" *ngIf="showImportDropdown">
                <li>
                  <label for="btnImportOverride" class="btn btn-tiny">
                    Přepsat
                    <input id="btnImportOverride" type="file" style="display: none" (change)="handleImportOverride($event)"/>
                  </label>
                </li>
                <li>
                  <label for="btnImportAppend" class="btn btn-tiny">
                    Připnout
                    <input id="btnImportAppend" type="file" style="display: none;" (change)="handleImportAppend($event)"/>
                  </label>
                </li>
              </ul>
            </div>
            <div class="col s4 m2 offset-m3 offset-l3 center-on-small-only">
              <button class="btn btn-tiny" (click)="handleSelectAll()" [disabled]="selectedQueries === queries.length">Vybrat vše</button>
            </div>
            <div class="col s4 m2 center-on-small-only">
              <button class="btn btn-tiny" (click)="handleSelectNone()" [disabled]="selectedQueries === 0">Zrušit vše</button>
            </div>
            <div class="col s4 m2 center-on-small-only">
              <button class="btn btn-tiny red" (click)="handleDeleteAll()">Smazat vše</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!queryExists" class="col s12 center-align">
        <h1>Nebyly nalezeny žádné dotazy.</h1>
        <a (click)="handleNewQuery()" style="cursor: pointer;">Vytvořte nový dotaz</a>
        nebo
        <label for="btnImport" class="btn btn-small">
          Importovat databázi
          <input id="btnImport" type="file" style="display: none" (change)="handleImportOverride($event)"/>
        </label>
      </div>
    </div>
  </div>
</section>

<span id="new-query" class="btn-floating btn-large waves-effect waves-light accent-color" (click)="handleNewQuery()"><i class="material-icons">add</i></span>
<app-modal id="modalContainer" title="Import dotazů" [result]="importDialog.entries" (confirm)="importDialog.doImport()">
  <app-import-dialog #importDialog></app-import-dialog>
</app-modal>

