<section>
  <div class="toolbar-container" [style.display]="queries.length === 0 ? 'none' : 'block'" #toolbarContainer>
    <div class="row mobile-search">
      <div class="col s12 offset-m2 m8">
        <app-search></app-search>
      </div>
    </div>
    <app-browse-toolbar class="browse-toolbar"></app-browse-toolbar>
  </div>
  <div class="row" #queryContainer>
    <div class="col s12 offset-m2 m8">
      <div class="collection" *ngIf="queries.length !== 0">
        <div class="q-group" *ngIf="qFilterGroupSortingService.selectedGroup === 'none'">
          <app-q-entry *ngFor="let query of qFilterGroupSortingService.fuseQueries" [query]="query" (deleteRequest)="handleDeleteRequest($event)"></app-q-entry>
        </div>
        <app-q-group [values]="endpoints" [queries]="qFilterGroupSortingService.fuseQueries" [filterFunction]="filterByEndpoint" (deleteRequest)="handleDeleteRequest($event)"
                     *ngIf="qFilterGroupSortingService.selectedGroup === 'endpoint'"></app-q-group>
        <app-q-group [values]="tags" [queries]="qFilterGroupSortingService.fuseQueries" [filterFunction]="filterByTag" (deleteRequest)="handleDeleteRequest($event)" *ngIf="qFilterGroupSortingService.selectedGroup === 'tag'"></app-q-group>

        Označeno dotazů: {{selectedQueries}}
        <div class="col s12 button-bar-wrapper">
          <div class="button-bar">
            <div class="col s6 m1 center-on-small-only">
              <button class="btn btn-tiny" (click)="handleExport()" [disabled]="selectedQueries === 0">Export</button>
            </div>
            <div class="col s6 m1 offset-m1 center-on-small-only">
              <span class='dropdown-trigger btn btn-tiny' (click)="showImportDropdown = !showImportDropdown">Import</span>
              <ul class="dropdown-content" *ngIf="showImportDropdown">
                <li>
                  <label for="btnImportOverride" class="btn btn-tiny">
                    Přepsat
                    <input id="btnImportOverride" type="file" style="display: none" (change)="handleImportOverride($event)"/>
                  </label>
                </li>
                <li>
                  <label for="btnImportAppend" class="btn btn-tiny">
                    Připnout
                    <input id="btnImportAppend" type="file" style="display: none;" (change)="handleImportAppend($event)"/>
                  </label>
                </li>
              </ul>
            </div>
            <div class="col s4 m2 offset-m3 offset-l3 center-on-small-only">
              <button class="btn btn-tiny" (click)="handleSelectAll()" [disabled]="selectedQueries === queries.length">Vybrat vše</button>
            </div>
            <div class="col s4 m2 center-on-small-only">
              <button class="btn btn-tiny" (click)="handleSelectNone()" [disabled]="selectedQueries === 0">Zrušit vše</button>
            </div>
            <div class="col s4 m2 center-on-small-only">
              <button class="btn btn-tiny red" (click)="handleDeleteAll()">Smazat vše</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="queries.length === 0" class="col s12 center-align">
        <h1>Nebyly nalezeny žádné dotazy.</h1>
        <a (click)="handleNewQuery()" style="cursor: pointer;">Vytvořte nový dotaz</a>
        nebo
        <label for="btnImport" class="btn btn-small">
          Importovat databázi
          <input id="btnImport" type="file" style="display: none" (change)="handleImportOverride($event)"/>
        </label>
      </div>
    </div>
  </div>

</section>

<span id="new-query" class="btn-floating btn-large waves-effect waves-light accent-color" (click)="handleNewQuery()"><i class="material-icons">add</i></span>
