<div [@queryAnimation] (mouseenter)="visible=true" (mouseleave)="visible=false" class="row valign-wrapper q-entry">
  <div class="col s1">
    <label>
      <input type="checkbox" [(ngModel)]="query.selected" class="filled-in"><span></span>
    </label>
  </div>
  <div class="col s1 cloud-indicator">
    <span title="Dotaz plně synchronizován"><i class="material-icons" *ngIf="query.downloaded && query.uploaded">cloud_done</i></span>
    <span title="Dotaz je uložen lokálně"><i class="material-icons" *ngIf="query.downloaded && !query.uploaded">cloud_off</i></span>
    <span title="Dotaz je v cloudu"><i class="material-icons" *ngIf="!query.downloaded && query.uploaded">cloud</i></span>
  </div>
  <div class="col s9">
    <div>
      <a [routerLink]="['/edit', query.id]"><span>{{query.name}}</span></a> - <span>{{query.endpoint}}</span>
    </div>
    <div>
      <span class="badge q-tag" *ngFor="let tag of query.tags">{{tag}}</span>
    </div>
  </div>
  <div class="col s2 q-entry-toolbar">
    <span title="Smazat z lokálního úložiště" class="right"><i class="material-icons q-icon" *ngIf="query.downloaded" (click)="handleDelete(false)">delete_forever</i></span>
    <span title="Smazat z cloudu" class="right"><i class="material-icons q-icon" *ngIf="query.uploaded" (click)="handleDelete(true)">delete</i></span>
    <span title="Stáhnout z cloudu" class="right"><i class="material-icons q-icon" *ngIf="!query.downloaded" (click)="handleDownload()">cloud_download</i></span>
    <span title="Nahrát do cloudu" class="right"><i class="material-icons q-icon" *ngIf="!query.uploaded" (click)="handleUpload()">cloud_upload</i></span>
    <span title="Editovat" class="right"><i class="material-icons q-icon" (click)="handleEdit()">edit</i></span>
  </div>
</div>
