<div (mouseenter)="visible=true" (mouseleave)="visible=false" class="valign-wrapper q-entry">
  <div class="col s1">
    <label>
      <input type="checkbox" [(ngModel)]="query.selected" class="filled-in"><span></span>
    </label>
  </div>
  <div class="col s8" style="margin-left: 0;">
    <div>
      <a [routerLink]="['/edit', query.id]"><span>{{query.name}}</span></a> - <span>{{query.endpoint}}</span>
    </div>
    <div>
      <span class="badge q-tag" *ngFor="let tag of query.tags">{{tag}}</span>
    </div>
  </div>
  <div class="col s2">
    <button class="btn btn-tiny red right" (click)="handleDelete()">Smazat</button>
  </div>
</div>
