.q-entry {
  min-height: 50px;
  margin: 0 4px;
}

.q-entry:hover {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  z-index: 2;
}

.q-entry-toolbar i {
  cursor: pointer;
}

.q-icon {
  color: #606060;
}
.q-icon:hover {
  color: #000;
}

.cloud-indicator {
  float: left;
}
