<div class="row import-entry">
  <div class="col s8">{{entry.name}}</div>
  <div class="col s4">
    <form action="#" [formGroup]="form">
      <div class="select-wrapper">
        <select formControlName="importStrategy">
          <option *ngFor="let importStrategy of importStrategies" [value]="importStrategy.value">{{importStrategy.name}}</option>
        </select>
        <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 10l5 5 5-5z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
    </form>
  </div>
</div>
