<nav class="navbar-fixed default-primary-color">
  <div class="nav-wrapper">
    <a [href]="['browse']" class="brand-logo primary-text-color">Unknown project</a>
    <a data-target="mobile-sidenav" class="sidenav-trigger" (click)="showSidebar = !showSidebar"><i class="material-icons">menu</i></a>
    <ng-template appNavbar></ng-template>
    <div class="sidenav" id="mobile-sidenav" [style.visibility]="showSidebar ? 'visible' : 'hidden'">
      <ng-template appSidebar></ng-template>
    </div>
  </div>
</nav>
