<section>
  <div class="row">
    <div class="col s12 offset-m2 m8">
      <label>
        <input type="text" placeholder="Najít dotaz...">
      </label>
    </div>
    <div class="row">
      <div class="col s12 offset-m2 m8">
        <div class="collection">
          <div class="collection-header"><h4>Nalezené dotazy</h4></div>
          <a *ngFor="let query of queries" class="collection-item">
            <app-q-entry [query]="query" (deleteRequest)="handleDeleteRequest($event)"></app-q-entry>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<a href="/new" id="new-query" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
