.control-form {

}

.form-heading {
  color: #000;
  width: 100%;
  line-height: 20px;
}

.form-entry {
  height: 20px;
}

.group-by-select {
  top: -20px;
}

@media screen and (min-width: 992px) {
  .control-form {
    display: inline;
    float: left;
  }

  .form-heading {
    display: inline;
    float: left;
  }

  .form-entry {
    float: left;
  }

  .group-by-select {
    top: 0;
  }
}
