<div class="row">
  <div class="col s12 m8 offset-m2">
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="nameFormGroup">
        <form [formGroup]="nameFormGroup">
          <ng-template matStepLabel>Název</ng-template>

          <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <input placeholder="Název dotazu..." id="queryName" type="text" class="validate" formControlName="queryName">
            </div>
          </div>
          <div class="row">
            <div>
              <button mat-button matStepperNext class="btn btn-small green" style="float: right">Další</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="informationFormGroup">
        <form [formGroup]="informationFormGroup">
          <ng-template matStepLabel>Informace</ng-template>

          <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <input placeholder="Endpoint dotazu..." id="queryEndpoint" type="text" class="validate" formControlName="queryEndpoint" required="">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <textarea placeholder="Popis dotazu..." id="queryDescription" type="text" class="validate materialize-textarea" formControlName="queryDescription"></textarea>
            </div>
          </div>
          <div class="row">
            <div>
              <button mat-button matStepperPrevious class="btn btn-small red">Zpět</button>
              <button mat-button matStepperNext class="btn btn-small green" style="float: right">Další</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="tagsFormGroup">
        <form [formGroup]="tagsFormGroup">
          <ng-template matStepLabel>Tagy</ng-template>

          <div>
            <button mat-button matStepperPrevious class="btn btn-small red">Zpět</button>
            <button mat-button matStepperNext class="btn btn-small green" style="float: right">Další</button>
          </div>
        </form>
      </mat-step>

      <mat-step [formGroup]="queryFormGroup">
        <form [formGroup]="queryFormGroup">
          <ng-template matStepLabel>Obsah</ng-template>

          <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <textarea placeholder="Obsah dotazu..." id="queryContent" type="text" class="validate materialize-textarea" formControlName="queryContent" required></textarea>
            </div>
          </div>
          <div class="row">
            <div>
              <button mat-button matStepperPrevious class="btn btn-small red">Zpět</button>
              <button mat-button matStepperNext class="btn btn-small green" style="float: right">Další</button>
            </div>
          </div>

        </form>
      </mat-step>

      <mat-step [formGroup]="variablesFormGroup">
        <form [formGroup]="variablesFormGroup">
          <ng-template matStepLabel>Proměnné</ng-template>
        </form>

        <div>
          <button mat-button matStepperPrevious class="btn btn-small red">Zpět</button>
          <button mat-button class="btn btn-small mat-primary" style="float: right" (click)="handleNewQuery()">Dokončit</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </div>
</div>
