<div id="saveBar" [@saveProgress]="saveProgress" (@saveProgress.done)="handleSaveQuery()"></div>
<div class="row">
  <div class="col s12 m7 offset-l1">
    <app-q-name [query]="query" (dataChanged)="handleQueryChange()"></app-q-name>
    <app-q-content [query]="query" [working]="working" (dataChanged)="handleQueryChange()" (updateContentOnly)="handleUpdateParams($event)" (doQuery)="handleDoQuery()"></app-q-content>
  </div>
  <div class="col s12 m5 l3">
    <app-q-params [content]="query.content" [params]="query.params"></app-q-params>
    <app-q-endpoint [query]="query" (dataChanged)="handleQueryChange()"></app-q-endpoint>
    <app-q-description [query]="query" (dataChanged)="handleQueryChange()"></app-q-description>
    <app-q-tags [tags]="query.tags" (dataChanged)="handleQueryChange()"></app-q-tags>
  </div>
</div>

<a id="save-query" (click)="handleManualQuerySave()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">save</i></a>
