@import "~materialize-css/dist/css/materialize.min.css";

body {
  background-color: darkgray;
}

nav {
  background-color: darkgreen;
}

.card .card-title {
  font-size: 22px;
}

.card .card-content {
  padding: 8px;
}

.card .card-action {
  padding: 8px 16px;
}

.row {
  margin-bottom: 0;
}

.collection {
  border: none;
  border-radius: 0;
}
