@import "materialize.css";
@import "~ngx-toastr/toastr.css";
@import "palette.css";
@import "cards-container.css";

body.modal-open {
  overflow: hidden;
}

.card .card-title {
  font-size: 22px;
}
.card .card-content {
  padding: 8px;
}
.card .card-action {
  padding: 8px 16px;
}

.row {
  margin-bottom: 0;
}

.collection {
  border: none;
  border-radius: 0;
}

.btn-tiny {
  height: 24px;
  line-height: 24px;
  font-size: 11px;
}

.badge.q-tag {
  background-color: #BDBDBD;
  float: left;
  margin-bottom: 4px;
}
.badge.q-tag i {
  cursor: pointer;
}
.badge.q-tag i:hover {
  color: red;
}
input::placeholder {
  color: #606060;
}
.mobile-search input {
  color: #000 !important;
}
.mobile-search input::placeholder {
  color: #000 !important;
}

select {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
}

.q-entry-border {
  border-bottom: solid 1px #BDBDBD;
}
.q-entry-border:last-child {
    border-bottom: solid 2px #BDBDBD;
    margin-bottom: 4px;
}

router-outlet ~ * {
  position: absolute;
  height: calc(100% - 56px);
  width: 100%;
}

@media only screen and (min-width: 601px) {
  router-outlet ~ * {
    height: calc(100% - 64px);
  }
}
