  <div class="row">
    <div class="col m12">
      <div *ngIf="!useTextarea">
        <input type="text" class="tiny-input"
               [required]="required"
               [formControl]="inputElement"
               [ngClass]="(inputElement.valid)?'valid':'invalid'"
               [(ngModel)]="value"
               (keydown)="onKeyDown($event)"
               (focusout)="save()">
        <span class="helper-text" data-error="vyplňte" data-success=""></span>
      </div>
      <textarea *ngIf="useTextarea" [(ngModel)]="value"></textarea>
    </div>
    <div class="col m12" *ngIf="useTextarea">
      <button class="btn btn-tiny green" [disabled]="!inputElement.valid" (click)="save()">OK</button>
    </div>
  </div>
