<div class="row">
  <div class="col s12 offset-m2 m8">
    <div class="card">
      <span class="card-title">Nastavení</span>
      <div class="card-content">

        <!-- Suffix pro duplikovaný dotaz -->
        <div class="row settings-entry">
          <p>Suffix pro duplikovaný dotaz</p>
          <div class="right">
            <div class="row">
              <app-editable-value [value]="settings.suffixForDuplicatedQuery" (valueChanged)="settings.suffixForDuplicatedQuery = $event" class="right"></app-editable-value>
            </div>
          </div>
        </div>

        <!-- Timeout pro odpověď ze serveru -->
        <div class="row settings-entry">
          <p>Timeout pro odpověd ze serveru (ms)</p>
          <div class="right">
            <div class="row">
              <app-editable-value [value]="settings.serverTimeout" (valueChanged)="settings.serverTimeout = $event" class="right"></app-editable-value>
            </div>
          </div>
        </div>

        <!-- Prodleva pro uložení změn hodnot v editoru dotazu -->
        <div class="row settings-entry">
          <p>Prodleva pro uložení změn hodnot v editaci dotazu (ms)</p>
          <div class="right">
            <div class="row">
              <label>
                <input type="checkbox" [(ngModel)]="settings.useSaveDelay">
                <span>Použít prodlevu</span>
              </label>
            </div>
            <div class="row">
              <app-editable-value [value]="settings.saveDelay" (valueChanged)="settings.saveDelay = $event" class="right"></app-editable-value>
            </div>
          </div>
        </div>

        <!-- Formát doby čekání na výsledek -->
        <div class="row settings-entry">
          <p>Formát doby čekání na výsledek</p>
          <div class="right">
            <div class="row">
              <label>
                <input type="checkbox" [(ngModel)]="settings.queryResultTimeFormat.showHours" (ngModelChange)="refreshTime()">
                <span>Zobrazit hodiny</span>
              </label>
            </div>
            <div class="row">
              <label>
                <input type="checkbox" [(ngModel)]="settings.queryResultTimeFormat.showMinutes" (ngModelChange)="refreshTime()">
                <span>Zobrazit minuty</span>
              </label>
            </div>
            <div class="row">
              <label>
                <input type="checkbox" [(ngModel)]="settings.queryResultTimeFormat.showSeconds" (ngModelChange)="refreshTime()">
                <span>Zobrazit vteřiny</span>
              </label>
            </div>
            <div class="row">
              <label>
                <input type="checkbox" [(ngModel)]="settings.queryResultTimeFormat.showMiliseconds" (ngModelChange)="refreshTime()">
                <span>Zobrazit milisekundy</span>
              </label>
            </div>
            <p class="right">Vzor: {{testTime | duration:settings.queryResultTimeFormat}}</p>
          </div>
        </div>

        <!-- Prefix a suffix pro proměnné v dotazu -->
        <div class="row settings-entry">
          <p>Formát proměnných v dotazu</p>
          <div class="right">
            <div class="row">
              <label>
                <input type="checkbox" [(ngModel)]="settings.queryParameterFormat.suffixIsPrefix" (change)="handleSuffixIsPrefix($event)">
                <span>Suffix stejný jako prefix</span>
              </label>
            </div>
            <div class="row">
              <app-editable-value [value]="settings.queryParameterFormat.prefix" (valueChanged)="handlePrefixChange($event)" class="right"></app-editable-value>
            </div>
            <div class="row">
              <app-editable-value *ngIf="!settings.queryParameterFormat.suffixIsPrefix" [value]="settings.queryParameterFormat.suffix" (valueChanged)="settings.queryParameterFormat.suffix = $event" class="right"></app-editable-value>
            </div>
          </div>
        </div>

        <!-- Výchozí název exportovaného souboru -->
        <div class="row settings-entry">
          <p>Výchozí název exportovaného souboru</p>
          <div class="right">
            <div class="row">
              <app-editable-value [value]="settings.defaultExportFileName" (valueChanged)="settings.defaultExportFileName = $event" class="right"></app-editable-value>
            </div>
          </div>
        </div>

        <!-- Nastavení FuseJS vyhledávacích klíčů -->
        <div class="row settings-entry">
          <app-q-tags [tags]="tags" title="Vyhledávací klíče" (dataChanged)="handleUpdateTags($event)"></app-q-tags>
        </div>

        <!-- Nastavení gest -->
        <div class="row settings-entry">
          <p>Nastavení gest</p>
          <div class="right">
            <div class="row">
              <label>
                <input type="checkbox" [(ngModel)]="settings.useGestures">
                <span>Povolit gesta</span>
              </label>
            </div>
          </div>
        </div>

        <!-- Vždy zobrazit import dialog -->
        <div class="row settings-entry">
          <p>Nastavení importovacího dialogu dotazů</p>
          <div class="right">
            <div class="row">
              <label>
                <input type="checkbox" [(ngModel)]="settings.alwaysShowImportDialog">
                <span>Vždy zobrazit importovací dialog dotazů</span>
              </label>
            </div>
          </div>
        </div>

        <!-- Nastavení CORS hacku -->
        <div class="row settings-entry">
          <p>Nastavení CORS</p>
          <div class="right">
            <div class="row">
              <label>
                <input type="checkbox" [(ngModel)]="settings.corsHack">
                <span>Použít CORS hack</span>
              </label>
            </div>
            <div class="row">
              <app-editable-value [value]="settings.corsURL" (valueChanged)="settings.corsURL = $event" class="right"></app-editable-value>
            </div>
          </div>
        </div>

        <!-- Nebezpečná zóna -->
        <div class="row settings-entry">
          <p class="background red">Nebezpečná sekce</p>
          <div class="right">
            <div class="row">
              <button class="btn btn-tiny red" (click)="handleDeleteAll()">Vymazat vše</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action">
        <button class="btn btn-tiny" (click)="handleSave()">Uložit</button>
      </div>
    </div>
  </div>
</div>

<app-modal id="confirmContainer" title="Potvrďte" confirmText="Potvrzuji" [modalType]="modalType" (confirm)="handleConfirmDeleteAll()">
  <app-confirm-dialog confirmText="Opravdu si přejete vymazat veškerá data?"></app-confirm-dialog>
</app-modal>
