.settings-entry {
  padding: 8px;
  border-bottom: solid black 1px;
  margin: 4px;
}

.settings-entry .time-entry {
  display: block;
}

.settings-entry > p {
  background-color: #99e297;
  margin-bottom: 4px;
}
